<div class="main-page">
  <h1>Update Password</h1>
  <%= form_for @user, :url => { :action => "update_password" } do |f| %>
    <div>
      <%= f.label :old_password %>
      <%= f.password_field :old_password %>
    </div>
    <div>
      <%= f.label :new_password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Update Password"%>
  <% end %>
</div>
