<div class="main-page">
  <h1>View all posts <%= @posts.count %></h1>

  <div>
  <%= notice || alert%>
  <%= form_tag(posts_path, method: "get") do %>
    <%= label_tag ("Search for:") %>
    <%= text_field_tag :search, params[:search], placeholder: "Keyword"%>
    <%= submit_tag("Search") %>
  <% end %>
  </div>
  <br>
  <%# Use the following code to create links to each individual blog post %>
  <% @posts.each do |post| %>
    <%# link_to is a rails method that takes in 4 parameters. The first
        two being display and path to direct to.%>
    <%= link_to post.title, post_path(post)%>
    <hr>
  <% end %>
  <span style="text-align: center"><%= paginate @posts %></span>
</div>
